.artthumb {
    width:200px;
    height:200px;
    border:1px solid red;
    padding:10px;
    margin:50px;
    float:left;
}

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
#title {
  text-align: center;
  margin: 40px 0 0 0;
}
nav li{
    display: inline-block;
    text-align: center;
    margin: 40px 0 0 0;
}
body{
    text-align: center;
}