#gallery{
    margin-left:10px;
    margin-right:10px;}

.artthumb {
    position:relative;
    width:200px;
    height:200px;
    margin:30px;
    display:inline-block;
    transition: all .3s ease-in-out;}

.artthumb:hover{transform: scale(1.2)}

.artwork{margin:20px;}

.row-centered{text-align: center;}

.col-centered{
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;}

ul {padding:0px;}

figure {
    position: relative;
    display:inline-block;
    margin:0;}

figcaption{
    position: absolute;
    top: 65%;
    left: 52%;
    background: black;
    color: white;
    padding: 5px 10px;
    font-family: bungee, sans-serif;
    font-style: normal;
    font-weight: 500;}

h1 {
    margin-top: 40px;
    margin-bottom:30px;
    font-family: bungee, sans-serif;
    font-style: normal;
    font-weight: 500;;}

ul {
    background-color: #f1f1;}

nav li{
    display: inline;
    text-align: center;
    padding: 30px;}

nav li a{padding-bottom:30px;
    color: black;}

body{
    text-align: center;
    vertical-align: middle;}

p {
    padding-top:10px;
    padding-bottom:30px;
    text-align: left;
    font-family: bungee, sans-serif;
    font-style: normal;
    font-weight: 500;}

img{
    padding:0px;
    width:100%;}

