.artthumb {
    width:200px;
    height:200px;
    padding-top:100px;
    padding-bottom:100px;
    margin:50px;
    float:left;
    text-align: center;
    background: black;
}

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
#title {
  text-align: center;
  margin: 40px 0 0 0;
}
h1 {
    margin: 100px ;
}
nav{
    margin-top:40px;
}
ul {
    background-color: #f1f1;
}
nav li{
    display: inline;
    text-align: center;
    padding: 20px;
}
nav li a{
    color: black;
}
a {
    color: white;
}
a:hover{
    color:red;
}
nav li a:hover{
    color:red;
}

body{
    text-align: center;
    vertical-align: middle;
}
p {
    padding-top:40px;
    padding-bottom:40px;
}
